{% extends '_base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/app/about.css' %}">
{% endblock css %}


{% block content %}
{{ block.super }}
<div class="wrapper">
  <h1>About Me</h1>
  <div class="bio">
    Hello there, nice to meet you! <br><br>Let me tell you a little about my story. I am from Iran, a South-Asia country that is going through
    a tough time.<br> I have have learned different skills
     you can check by clicking on <a href="">Skills</a> link. I love programming, it is amazing to me how I am able to transform abstract ideas
     into software, making the complex simple .I can take care of all your web development stuff and enjoy sharing my knowledge as well as creating and innovating.<br><br>
     Now just keep clicking, and get to know me better as you go!
  </div>
</div>

{% endblock content %}



{% block js %}
{% endblock js %}
