{% load static my_filters %}
<div class="CSSgal">

  {% with  images=p.images.all %}
  {% with  length=images|length %}



  {% for i in images %}
    <s class="{% if forloop.first %}current{% endif %}" id="s{{forloop.counter}}{{p.pk}}"></s>
  {% endfor %}

  <div class="slider">
    {% for img in images %}
      <div style="background-image: url({{img.image.url}})"></div>
    {% endfor %}
  </div>


  <div class="bullets">
{% if length > 1 %}
     {% for i in images %}
      {% if forloop.counter < 6 %}
        <a class="{% if forloop.first %}current{% endif %}" href="" onclick="link2slider(this);return false;"
                data-target="s{{forloop.counter}}{{p.pk}}">{{forloop.counter}}</a>
      {% endif %}
     {% endfor %}
{% endif %}
  </div>


  {% endwith %}
  {% endwith %}

</div>
