{% extends '_base.html' %}
{% load i18n static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/app/education.min.css' %}">
{% endblock css %}


{% block content %}
{{ block.super }}
<div class="wrapper">
  <h1>{% translate 'Education' %}</h1>
  <h3>{% translate 'University' %}</h3>
  <div class=" education University">
    <span>{% translate 'Hakim Sabzevari University (2012-2016)' %}</span>
    <img class="anabin" title="this image be derived of anabin.kmk.org "
       src="{% if request.LANGUAGE_CODE == 'de' %}{% static 'img/anabin-de-univ-watermarked.png' %}{% else %}{% static 'img/anabin-en-univ-watermarked.png' %}{% endif %}"
       alt="derived of anabin.kmk.org">
  </div>
  <h3>{% translate 'Field and Degree' %}</h3>
  <div class="education field">
    <span>  {% translate 'Bachelor in Electrical Engineeing' %}</span>
    <img class="anabin" title="this image be derived of anabin.kmk.org "
      alt="this image be derived of anabin.kmk.org"
      src="{% if request.LANGUAGE_CODE == 'de' %}{% static 'img/anabin-de-watermark.png' %}{% else %}{% static 'img/anabin-en-watermarked.png' %}{% endif %}">
  </div>
</div>

{% endblock content %}



{% block js %}
{% endblock js %}
