{% extends '_base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/app/home.css' %}">
{% endblock css %}


{% block content %}
<div class="section">

  <div class="row top">
    <div class="line-left">
      <a href="{% url 'app:contact' %}" class="two">
        Contact
      </a>
      <a href="#" class="one">
        gggggg
      </a>
    </div>

    <a href="#" class="three">
      Skills
    </a>
    <div class="line-right">
      <a href="#" class="four">
        Projects
      </a>
      <a href="#" class="five">
        About me
      </a>
    </div>

  </div>

  <div class="row wrapper-image">
    <img src="{% static 'img/circle-person.png' %}" alt="" class="img">
  </div>


  <div class="full-name">
    Eisa Nahardani
  </div>


</div>
{% endblock content %}
