{% extends '_base.html' %}
{% load i18n static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/app/home.css' %}">
{% endblock css %}


{% block content %}
<div class="section">

  <div class="row top">
    <div class="line-left">
      <a href="{% url 'app:contact' %}" class="two">
        {% translate 'Contact' %}
      </a>
      <a href="{% url 'app:education' %}" class="one">
        {% translate 'Education' %}
      </a>
    </div>

    <a href="{% url 'app:skills' %}" class="three">
      {% translate 'Skills' %}
    </a>
    <div class="line-right">
      <a href="{% url 'app:projects' %}" class="four">
        {% translate 'Projects' %}
      </a>
      <a href="{% url 'app:about' %}" class="five">
        {% translate 'About me' %}
      </a>
    </div>

  </div>

  <div class="row wrapper-image">
    <img src="{% static 'img/eisa-91.jpg' %}" alt="" class="img">
  </div>


  <div class="full-name">
    {% translate 'Eisa Nahardani' %}
  </div>

  <div class="share">
    <div class="social-buttons">
      <a href="https://github.com/EasaNahardani" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://stackoverflow.com/users/18005739/eisa-nahardani?tab=profile" target="_blank"><i class="fab fa-stack-overflow"></i></a>
      <a href="" target="_blank"><i class="fab fa-telegram"></i></a>
      <a href="" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>

</div>
{% endblock content %}
