{% extends '_base.html' %}
{% load i18n static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/app/projects.css' %}">
<link rel="stylesheet" href="{% static 'css/app/carousel.css' %}">
{% endblock css %}


{% block content %}
{{ block.super }}
<div class="wrapper">
  <h1>{% translate 'Projects' %}</h1>
  <div class="contents">
    <div class="category-wrapper">
      <div class="application category {% if not '?' in request.get_full_path %}active{% endif %}" title="Mobile Applications & Web Applications" data-category="application">
        <span>{% translate 'Apps' %}</span>
      </div>
        <div class="articles category {% if 'article' in request.get_full_path %}active{% endif %} " title="Articles" data-category="article">
          <span>{% translate 'Articles' %}</span>
        </div>
        <div class="libraries category {% if 'library' in request.get_full_path %}active{% endif %}" title="3th-party packages and libraries" data-category="library">
          <span>{% translate 'Libraries' %}</span>
        </div>
    </div>

  </div>
  <div class="projects row">
    {% for p in projects %}
      {% include 'app/project_card.html' %}
    {% endfor %}
  </div>
</div>

{% endblock content %}



{% block js %}
<script type="text/javascript" src="{% static 'js/app/projects.js' %}" defer></script>
<script type="text/javascript" src="{% static 'js/app/carousel.js' %}" defer></script>
{% endblock js %}
