{% load static i18n  my_filters %}
<div class="col-md-6 col-lg-6 col-xl-4 proj">
  <div class="card card-profile">
    <div class="card-header" >
      {% include 'app/carousel.html' %}
    </div>
    <div class="card-body" data-url="{{p.url}}">
      <h5 class="title" >{{p.title}}</h5>
    </div>
    <div class="line"></div>
    {% if p.language %}
      <span class="lang">{{p.language}}</span>
      <div class="tech">
        {% for t in p.technologies|splitter %}
          <span>{{t}}</span>
        {% endfor %}
      </div>
      {% else %}
        <div class="description">
          {{p.description|safe|truncatechars:200}}
        </div>
      {% endif %}
    <div class="card-footer" {% if bidi %} dir="rtl" {% endif %}>
      {% if p.status == 'published' %}
      <div class="publish">
        <span>{% translate 'Publication Date' %}</span>
        <span class="date" dir="ltr">{{p.publish|date:"Y F"}}</span>
      </div>
      {% else %}
        <span class="soon" dir="ltr">{% translate 'Coming soon..' %}</span>
      {% endif %}
    </div>
  </div>

</div>
