.wrapper{
  margin-top: 100px;
}
.wrapper h1{
text-align: center;
}
.wrapper .bio{
  padding: 80px;
line-height: 2rem;
font-size: 18px;
}
.wrapper .bio a{
  font-weight: 600;
  text-decoration: none;
  color: #622b17;
}
.wrapper .bio a:hover{
  color: #77dad1;
}



@media only screen and (max-width: 370px){

  .wrapper .bio{
    padding: 50px 20px;
    line-height: 2rem;
    font-size: 18px;
  }

}

@media only screen and (min-width: 370px){

  .wrapper .bio{
    padding: 50px 30px;
    line-height: 2rem;
    font-size: 18px;
  }

}

@media only screen and (min-width: 576px){
  .wrapper .bio{
    padding: 50px 45px;
    line-height: 2rem;
    font-size: 18px;
  }

}

@media only screen and (min-width: 768px){


  .wrapper .bio{
    padding: 80px;
    line-height: 2rem;
    font-size: 18px;
  }


}


@media only screen and (min-width: 992px){

}

@media only screen and (min-width: 1200px){


}
