.wrapper h1{
  text-align: center;
}
.wrapper{
  padding-left: 80px;
  padding-right: 80px;
  line-height: 2rem;
  margin-top: 100px;
}
.wrapper .anabin{
  border-radius: 12px;
  width: 90%;
  margin-top: 0.8rem;
}
.wrapper .education{
  user-select: none;
  text-align: center;
  margin-bottom: 5rem;
}
.wrapper h3{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.wrapper .education span{
  user-select: text;
}


@media only screen and (max-width: 370px){
  .wrapper h1{
  }
  .wrapper{
    line-height: 2rem;
    margin-top: 100px;
    padding: 0 12px;
  }
  .wrapper .anabin{
    border-radius: 10px;
    width: 100%;
    margin-top: 0.8rem;
  }
  .wrapper .education{
    margin-bottom: 4.5rem;
  }
  .wrapper h3{
      margin-top: 5rem;
      margin-bottom: 1rem;
  }
  .wrapper .education span{
  }


}

@media only screen and (min-width: 370px){
  .wrapper h1{
  }
  .wrapper{
    line-height: 2rem;
    margin-top: 100px;
    padding: 0 15px;
  }
  .wrapper .anabin{
    border-radius: 10px;
    width: 100%;
    margin-top: 0.8rem;
  }
  .wrapper .education{
    margin-bottom: 4.5rem;
  }
  .wrapper h3{
      margin-top: 5rem;
      margin-bottom: 1rem;
  }
  .wrapper .education span{
  }


}

@media only screen and (min-width: 576px){
  .wrapper h1{
  }
  .wrapper{
    line-height: 2rem;
    margin-top: 100px;
    padding: 0 25px;
  }
  .wrapper .anabin{
    border-radius: 12px;
    width: 92%;
    margin-top: 0.8rem;
  }
  .wrapper .education{
    margin-bottom: 5rem;
  }

}

@media only screen and (min-width: 768px){

  .wrapper{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 100px;
  }
  .wrapper .anabin{
    width: 90%;
  }

}


@media only screen and (min-width: 992px){


}

@media only screen and (min-width: 1200px){


}
