body{
  height: 100vh;
}
.section{
  margin-top: 12vh;
}

.section  .row a{
  color: #6b4334;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #77dad1;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  transition: background-color .4s, font-weight .2s;
}
.section  .row a:hover{
  background-color: transparent;
  font-weight: 700;
}

.section .row.top{
  display: flex;
  justify-content: center;
  margin-bottom: -40px;
}
.section .row.top .line-left{
  transform: rotate(42deg);
  margin-right: 20px;
  margin-top: 20px;
}
 .line-left a{
   transform: rotate(-42deg);
 }
 .line-right a{
   transform: rotate(42deg);
 }
.section .row.top .line-right{
  transform: rotate(-42deg);
  margin-left: 20px;
  margin-top: 20px;
}
.section .one{
  margin-top: 10px;
}
.section .five{
  margin-top: 10px;
}

.section .wrapper-image{
  margin: 0;
  display: flex;
  justify-content: center;
  user-select: none;
}
.section .img{
  z-index: 2;
  width: 50%;
  height: fit-content;
  border: 2px solid #1ab4b4;
  border-radius: 50%;
}

.section .full-name{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 80px;
  user-select: none;
}

.share{
  display: flex;
  justify-content: center;
  padding: 30px;
}

.share .social-buttons{
  display: flex;
}
.share .social-buttons i{
  font-size: 24px;
  padding: 2px;
  padding-bottom: 0;
  padding-top: 0;
}
.share .social-buttons a{
  color: #4a5073;
  margin-left: 12px;
  margin-right: 12px;
}
.social-buttons a:hover{
  color: #77dad1;
}


  @media only screen and (max-width: 370px){
    .section .row.top{
      margin-bottom: -70px;
    }
  }

  @media only screen and (min-width: 370px){
    .section .row.top{
      margin-bottom: -58px;
    }
    .section .row.top .line-right{
      transform: rotate(-48deg);
      margin-left: 30px;
    }
    .section .row.top .line-left{
      transform: rotate(48deg);
      margin-right: 30px;
    }
    .line-left a{
      transform: rotate(-48deg);
    }
    .line-right a{
      transform: rotate(48deg);
    }

  }

  @media only screen and (min-width: 576px){
    .section .row.top{
      margin-bottom: -65px;
    }
    .section .row.top .line-right{
      transform: rotate(-57deg);
      margin-left: 40px;
    }
    .section .row.top .line-left{
      transform: rotate(57deg);
      margin-right: 40px;
    }
    .line-left a{
      transform: rotate(-57deg);
    }
    .line-right a{
      transform: rotate(57deg);
    }

  }

  @media only screen and (min-width: 768px){
  .section .img{
    width: 30%;
  }

  }


  @media only screen and (min-width: 992px){
    .section .img{
      width: 20%;
    }
    .section{
      margin-top: 7vh;
    }

  }

  @media only screen and (min-width: 1200px){
    .section{
      margin-top: 5vh;
    }

  }
