.wrapper{
  margin-top: 100px;
}
.wrapper h1{
text-align: center;
}
.wrapper .progresses{
  line-height: 2rem;
  font-size: 18px;
}

.progresses{
  display: flex;
  justify-content: center;
  position: relative;
    margin: 2rem;
}
.progress-wrapper{
  margin-bottom: 2.5rem;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.progress {
  display: block;
    position: relative;
    height: 160px;
    width: 160px;
    cursor: pointer;
    background-color: transparent;
}

.progress-circle {
  transform: rotate(-90deg);
	margin-top: -40px;
}

.progress-circle-back {
	fill: none;
	stroke: #D2D2D2;
	stroke-width:10px;
}

.progress-circle-prog {
	fill: none;
	stroke: #7E3451;
	stroke-width: 10px;
	stroke-dasharray: 0 999;
	stroke-dashoffset: 0px;
    transition: stroke-dasharray 0.7s linear 0s;
}

.progress-text {
	width: 100%;
	position: absolute;
	top: 75px;
	text-align: center;
	font-size: 2em;
}
