<!--
=========================================================
* Eisa Nahardani -- Web Developer -- 92developer92@gmail.com
======================================================
-->
{% load i18n static my_filters %}
<!DOCTYPE html>
{% get_current_language_bidi as bidi %}
<html lang="en" class="notranslate" translate="no">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
  {% block title %}Eisa Nahardani{% endblock %}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="">
<meta name="author" content="Eisa Nahardani">
<meta name="description" content="I have have learned different skills you can check by clicking on Skills link.
  I love programming, it is amazing to me how I am able to transform abstract ideas into software, making the complex simple
   .I can take care of all your web development stuff and enjoy sharing my knowledge as well as creating and innovating.">
<meta name="keywords" content="Eisa Nahardani, عیسی نهاردانی, web developer, عیسی نهالدانی, back-end developer, web programmer, django programmer, python, django,
   وبسایت شخصی عیسی نهاردانی" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:title" content="Eisa Nahardani-Web Developer">
<meta property="og:description" content="I have have learned different skills you can check by clicking on Skills link. I love programming,
   it is amazing to me how I am able to transform abstract ideas into software,
   making the complex simple .I can take care of all your web development stuff and enjoy sharing my knowledge as well as creating and innovating.">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="">
<meta property="twitter:title" content="Eisa Nahardani-Web Developer">
<meta property="twitter:description" content="I have have learned different skills you can check by clicking on Skills link.
  I love programming, it is amazing to me how I am able to transform abstract ideas into software, making the complex simple .
  I can take care of all your web development stuff and enjoy sharing my knowledge as well as creating and innovating.">
<meta property="twitter:image" content="">

<!-- Favicon -->
<!--
<link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">-->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static 'css/core/bootstrap.min.css' %}">

<!-- FA Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
       crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static '/css/_base.min.css' %}">

{% block css %}

{% endblock css %}

</head>
{% with current_lang=request.LANGUAGE_CODE %}
<body  {% if current_lang == 'fa' %} style="font-family:fadigits, sans;"{% elif current_lang == 'de' %}style='font-family:"Walbaum-Bold";'{% else %}style="font-family:cursive;"{% endif %}>

  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %} {% if bidi %} dir="rtl" {% endif %}>
        {{ message|safe }}
        <div class="close-wrapper">
          <button  class="close"></button>
        </div>
      </li>
    {% endfor %}
    </ul>
  {% endif %}


{% get_available_languages as LANGUAGES %}

  <ul  class="lang-switcher">
    {% for language in LANGUAGES %}
     {% with lang_code=language.0 %}
      <li class="{% if lang_code == current_lang %}current{% else %}other{% endif %}"
          title="{% if lang_code == current_lang %}{% translate 'Click on the links on the rigth to see other languages' %}{% else %}{{ lang_code|language_name_local }}{% endif %}">
           <a {% if not lang_code == current_lang %}href="{{request.get_full_path|translated_url:lang_code}}"{% else %}href="javascript:void(0);"{% endif %}">
             {% include lang_code|add:"-flag.html" %}
          </a>
      </li>
      {% endwith %}
    {% endfor %}
  </ul>
  {% endwith %}


    {% block content %}
    <div class="back-btn">
      <a href="{% url 'app:home' %}">
        {% translate 'Home' %}
      </a>
    </div>
    {% endblock content %}


    {% include './scripts.html' %}

    {% block js %}
    {% endblock js %}

</body>
</html>
